<!-- this is the text box to search the data table -->
<app-search-bar [(searchModel)]="searchModel"></app-search-bar>
<div>
    <table id="data-table">
       <thead>
          <tr>
             <th id="name-header">Name</th>
             <th id="spec-header">Specialty</th>
          </tr>
       </thead>
       <tbody>
          <tr id="data-line-items" *ngFor="let item of ItemsArray['results'] | listFilter: searchModel">
             <th id="name-cell">{{ item.name }}</th>
             <td id="spec-cell">{{ item.specialty }}</td>
          </tr>
       </tbody>
    </table>
 </div>